# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
A1200HIDToDB9WithKeyboard/.vscode/.cortex-debug.peripherals.state.json
.gitignore
A1200HIDToDB9WithKeyboard/.vscode/c_cpp_properties.json
A1200HIDToDB9WithKeyboard/.vscode/launch.json
A1200HIDToDB9WithKeyboard/.vscode/settings.json
A1200HIDToDB9WithKeyboard/.vscode/STM32F401.svd
A1200HIDToDB9WithKeyboard/.vscode/tasks.json
A1200HIDToDB9WithKeyboard/.vscode/.cortex-debug.registers.state.json
